.text {
  display: inline;
  height: 100%;
  width: 150px;
  line-height: 1.7;
  background-color: rgb(89, 25, 156);
  color: white;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px;
  transition: border-color 0.25s;
  /* margin-top: 16px; */
}
