.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  background: rgb(193, 174, 213);
  border-radius: 8px;
  height: fit-content;
  padding: 30px;
}

.input {
  font-weight: 400;
  display: flex;
  margin-bottom: 8px;
  padding-right: 20px;
  cursor: default;
}

.label {
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.filterTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.btnIcon {
  margin-left: 4px;
}
